@model GlampingITM.Models.AddProductToCartViewModel

@{
    ViewData["Title"] = "Details";
}
<style type="text/css">
    .card {
        margin: auto;
        max-width: 100%;
        padding: 10px;
        background-color: rgba(151, 107, 58, 0.3);
        color: black;
        border-radius: 10px;
        align-content: center;
        border: 6px outset #ff6550;
    }
       

</style>

<div class="row">
    <div class="col-md-6">
        <div id="ImagesCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @{
                    var first = true;
                }
                @foreach (var item in @Model?.ProductImages)
                {
                    <div class="carousel-item @(first?Html.Raw("active"):Html.Raw(""))">
                        <img class="d-block w-100" src="@item.ImageFullPath" alt="@item.Id">
                    </div>
                    first = false;
                }
            </div>
            <a id="ImagesCarouselPrev" class="carousel-control-prev" href="#ImagesCarousel" role="button"
               data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only btn btn-secondary">Anterior</span>
            </a>
            <a id="ImagesCarouselNext" class="carousel-control-next" href="#ImagesCarousel" role="button"
               data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only btn-primary btn">Siguiente</span>
            </a>
        </div>
    </div>
    <div class="col-md-4 card">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" type= />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" type="number" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Comprar" class="btn btn-outline-success" />
                <a asp-action="Index" class="btn btn-outline-primary">Regresar</a>
            </div>
        </form>
    </div>
</div>
<hr />
<div class="col-md-6 ">
    <dl class="row ">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Categories)
        </dd>
    </dl>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#ImagesCarousel").carousel();
        $("#ImagesCarouselPrev").click(function(){
            $("#ImagesCarousel").carousel("prev");
        });
        $("#ImagesCarouselNext").click(function(){
            $("#ImagesCarousel").carousel("next");
        });
    });
</script>
}
